Repository xo-energy/XO.Console.Cli: changes, and which Codecov flags are due for each by the changed paths.
All: XO.Console.Cli, XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

codecov.yml:

component_management:
  individual_components:
    - component_id: "XO.Console.Cli"
      paths:
        - "XO.Console.Cli/"
    - component_id: "XO.Console.Cli.Extensions"
      paths:
        - "XO.Console.Cli.Extensions/"
    - component_id: "XO.Console.Cli.Instrumentation"
      paths:
        - "XO.Console.Cli.Instrumentation/"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

Exclude Benchmarks from code coverage
  XO.Console.Cli.Benchmarks/AssemblyInfo.cs
Due: none

Tests: complete coverage of Model namespace
  XO.Console.Cli.Analyzers.Tests/CompilationHelper.cs
  XO.Console.Cli.Analyzers.Tests/Model/CommandArgumentModelTest.cs
  XO.Console.Cli.Analyzers.Tests/Model/CommandAttributeDataTest.cs
  XO.Console.Cli.Analyzers.Tests/Model/CommandModelTest.cs
  XO.Console.Cli.Analyzers.Tests/Model/CommandOptionModelTest.cs
  XO.Console.Cli.Analyzers.Tests/Model/CommandParameterModelTest.cs
  XO.Console.Cli.Analyzers/XO.Console.Cli.Analyzers.csproj
Due: none

Tests: test HashCode stub
  XO.Console.Cli.Analyzers.Tests/HashCodeTest.cs
  XO.Console.Cli.Analyzers/HashCode.cs
Due: none

Improve diagnostics for CommandAttribute constructors, tweak numbering
  XO.Console.Cli.Analyzers/AnalyzerReleases.Unshipped.md
  XO.Console.Cli.Analyzers/DiagnosticDescriptors.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
Due: none

Don't generate source that does nothing
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
  XO.Console.Cli.Analyzers/Generators/CommandParametersFactoryGenerator.cs
Due: none

Add analyzer to detect invalid CommandAttribute usage
  XO.Console.Cli.Analyzers/AnalyzerReleases.Unshipped.md
  XO.Console.Cli.Analyzers/Analyzers/CommandAttributeTargetAnalyzer.cs
  XO.Console.Cli.Analyzers/DiagnosticDescriptors.cs
Due: none

Tests: complete coverage of Analyzers
  XO.Console.Cli.Analyzers.Tests/.editorconfig
  XO.Console.Cli.Analyzers.Tests/Analyzers/CommandAttributeTargetAnalyzerTest.cs
  XO.Console.Cli.Analyzers.Tests/CompilationHelper.cs
  XO.Console.Cli.Analyzers.Tests/DiagnosticsTest.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandBranchDeclaration#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithMissingIntermediateBranch#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithMultipleInterfaces#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithNullVerb#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithUnrelatedAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsValuesForEachParsingStrategy#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsArgumentWithNamedArguments#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithNamedArguments#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.IgnoresArgument_WhenNameIsNull#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.IgnoresOption_WhenNameIsNull#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers/Generators/CommandParametersFactoryGenerator.cs
Due: none

build: update to SDK 8.0.301, pin version vs AOT implicit deps
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli/packages.lock.json
  global.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions

Simplify type model by removing generic subclass of CommandBuilder
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandBranchDeclaration#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttributeNested#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttributeOptions#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithMissingIntermediateBranch#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithMultipleInterfaces#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithNullVerb#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithUnrelatedAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
  XO.Console.Cli.Tests/CommandAppTest.cs
  XO.Console.Cli.Tests/CommandBuilderTest.cs
  XO.Console.Cli.Tests/CommandContextTest.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/CommandBuilder.cs
  XO.Console.Cli/CommandBuilderT.cs
  XO.Console.Cli/Commands/MissingCommand.cs
  XO.Console.Cli/ICommand.cs
  XO.Console.Cli/ICommandBuilderAddCommand.cs
  XO.Console.Cli/Implementation/CommandApp.cs
  XO.Console.Cli/Infrastructure/CommandBuilder.cs
  XO.Console.Cli/Infrastructure/ICommandBuilderFactory.cs
  XO.Console.Cli/Infrastructure/TypeRegistry.cs
  XO.Console.Cli/Model/ConfiguredCommand.cs
Due: XO.Console.Cli

Change command generator to skip builder for declarative commands
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandBranchDeclaration#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttributeNested#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttributeOptions#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithMissingIntermediateBranch#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithMultipleInterfaces#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithNullVerb#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithUnrelatedAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
  XO.Console.Cli.Tests/CommandContextTest.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/Commands/CliExplainCommand.cs
  XO.Console.Cli/Commands/MissingCommand.cs
  XO.Console.Cli/Infrastructure/CommandBuilder.cs
  XO.Console.Cli/Infrastructure/ConfiguredCommand.cs
  XO.Console.Cli/Infrastructure/DelegateCommand.cs
  XO.Console.Cli/Infrastructure/ICommandBuilderFactory.cs
  XO.Console.Cli/Infrastructure/MissingCommand.cs
  XO.Console.Cli/Infrastructure/TypeRegistry.cs
  XO.Console.Cli/Model/CommandParserState.cs
Due: XO.Console.Cli

Tests: check that the generated source compiles!
  XO.Console.Cli.Analyzers.Tests/CompilationHelper.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsGreedyArgument_ToStringArray#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsValuesForEachParsingStrategy#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsArgument#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsArgumentWithNamedArguments#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsInherited#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsNested#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOption#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithAliases#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithNamedArguments#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsParameters#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.IgnoresArgument_WhenNameIsNull#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.IgnoresOption_WhenNameIsNull#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers/Generators/CommandParametersFactoryGenerator.cs
Due: none

Benchmarks: use declarative command configuration, improve config
  XO.Console.Cli.Benchmarks/Benchmarks.cs
  XO.Console.Cli.Benchmarks/Commands/Greeting/GoodbyeCommand.cs
  XO.Console.Cli.Benchmarks/Commands/Greeting/HelloCommand.cs
  XO.Console.Cli.Benchmarks/Commands/GreetingCommandAttribute.cs
Due: none

Update and re-arrange READMEs so each package has one
  README.md
  XO.Console.Cli.Extensions/README.md
  XO.Console.Cli.Extensions/XO.Console.Cli.Extensions.csproj
  XO.Console.Cli.Instrumentation/README.md
  XO.Console.Cli.Instrumentation/XO.Console.Cli.Instrumentation.csproj
  XO.Console.Cli/README.md
  XO.Console.Cli/XO.Console.Cli.csproj
Due: XO.Console.Cli, XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

Improve diagnostics locations
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForCommandAttributeWithPrivateConstructor.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForCommandAttributeWithSomeWrongConstructorParameters.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForCommandAttributeWithWrongConstructorParameters.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForDuplicatePath.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForDuplicateVerb.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForMultipleCommandAttributes.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForWrongCommandBranchAttributeTarget.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers/DiagnosticDescriptors.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
Due: none

Avoid caching syntax or symbols in CommandParametersFactoryGenerator
  XO.Console.Cli.Analyzers.Tests/Model/ParametersTypeModelTest.cs
  XO.Console.Cli.Analyzers/Generators/CommandParametersFactoryGenerator.cs
  XO.Console.Cli.Analyzers/ImmutableArrayEqualityComparer.cs
  XO.Console.Cli.Analyzers/Model/CommandModel.cs
  XO.Console.Cli.Analyzers/Model/ParametersTypeModel.cs
  XO.Console.Cli/Infrastructure/TypeRegistry.cs
Due: XO.Console.Cli

Refactor CommandBuilderFactoryGenerator
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttributeNested#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.AnalyzeCommands.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.Emit.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
  XO.Console.Cli.Analyzers/ImmutableArrayEqualityComparer.cs
  XO.Console.Cli.Analyzers/Model/CommandBranch.cs
  XO.Console.Cli.Analyzers/Model/CommandDeclaration.cs
  XO.Console.Cli.Analyzers/Model/CommandModel.cs
Due: none

Avoid caching Location or Diagnostic (they can reference symbols)
  XO.Console.Cli.Analyzers.Tests/Model/CommandModelTest.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.AnalyzeCommands.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.Emit.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
  XO.Console.Cli.Analyzers/Model/CommandModel.cs
  XO.Console.Cli.Analyzers/Model/DiagnosticInfo.cs
  XO.Console.Cli.Analyzers/Model/LocationInfo.cs
Due: none

Optimize startup by source generating assembly-based defaults
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.Generates#AssemblyCommandAppDefaults.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.GeneratesDescriptionFromDescriptionAttribute#AssemblyCommandAppDefaults.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.GeneratesVersionFromInformationalVersionAttribute#AssemblyCommandAppDefaults.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.GeneratesVersionFromInformationalVersionAttribute_WhenVersionAttributeExists#AssemblyCommandAppDefaults.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.GeneratesVersionFromVersionAttribute#AssemblyCommandAppDefaults.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.SetsEntryAssemblyAttributes.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.cs
  XO.Console.Cli.Analyzers/Generators/AssemblyCommandAppDefaultsGenerator.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/Infrastructure/TypeRegistry.cs
Due: XO.Console.Cli

Optimize startup by reducing converter busywork
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/CommandAppDefaults.cs
  XO.Console.Cli/Infrastructure/ParameterValueConverter.cs
  XO.Console.Cli/Model/CommandAppSettings.cs
  XO.Console.Cli/Model/CommandParameter.cs
Due: XO.Console.Cli

Restore basic parse-time option and argument validation
  XO.Console.Cli.Tests/Model/CommandParserStateTest.cs
  XO.Console.Cli/CommandOptionStyle.cs
  XO.Console.Cli/Commands/HelpCommand.cs
  XO.Console.Cli/Implementation/CommandApp.cs
  XO.Console.Cli/Model/CommandOption.cs
  XO.Console.Cli/Model/CommandParserState.cs
Due: XO.Console.Cli

Fix parameters generator failing to sort arguments
  XO.Console.Cli.Analyzers/Generators/CommandParametersFactoryGenerator.cs
Due: none

Fix missing value equality test for parameters
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsGreedyArgument_ToStringArray#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsValuesForEachParsingStrategy#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsArgument#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsArgumentWithNamedArguments#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsInherited#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsNested#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOption#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithAliases#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithNamedArguments#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers/Generators/CommandParametersFactoryGenerator.cs
  XO.Console.Cli.Tests/Model/CommandParserStateTest.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/Commands/CliExplainCommand.cs
  XO.Console.Cli/Implementation/CommandApp.cs
  XO.Console.Cli/Infrastructure/Builtins.cs
  XO.Console.Cli/Model/AbstractCommandParameter.cs
  XO.Console.Cli/Model/CommandArgument.cs
  XO.Console.Cli/Model/CommandOption.cs
  XO.Console.Cli/Model/CommandParserState.cs
Due: XO.Console.Cli

gitignore: reports
  .gitignore
Due: none

Tests: ImmutableArrayEqualityComparer
  XO.Console.Cli.Analyzers.Tests/ImmutableArrayEqualityComparerTest.cs
  XO.Console.Cli.Analyzers/ImmutableArrayEqualityComparer.cs
Due: none

Make it possible to implement ICommand<TParameters> directly
  XO.Console.Cli/AsyncCommand.cs
  XO.Console.Cli/Command.cs
  XO.Console.Cli/ICommand.cs
Due: XO.Console.Cli

Make 'configure' delegate optional in AddCommandApp(IServiceCollection)
  XO.Console.Cli.Extensions/CommandAppServiceCollectionExtensions.cs
Due: XO.Console.Cli.Extensions

Set version to '5.1-alpha'
  version.json
Due: none

Set version to '5.0'
  version.json
Due: none

Tests: scrub assembly version
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.Generates#AssemblyCommandAppDefaults.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.GeneratesDescriptionFromDescriptionAttribute#AssemblyCommandAppDefaults.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.GeneratesVersionFromInformationalVersionAttribute#AssemblyCommandAppDefaults.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.GeneratesVersionFromInformationalVersionAttribute_WhenVersionAttributeExists#AssemblyCommandAppDefaults.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.GeneratesVersionFromVersionAttribute#AssemblyCommandAppDefaults.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandBranchDeclaration#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttributeNested#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttributeOptions#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithMissingIntermediateBranch#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithMultipleInterfaces#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithNullVerb#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithUnrelatedAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsGreedyArgument_ToStringArray#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsValuesForEachParsingStrategy#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsArgument#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsArgumentWithNamedArguments#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsInherited#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsNested#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOption#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithAliases#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithNamedArguments#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsParameters#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.IgnoresArgument_WhenNameIsNull#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.IgnoresOption_WhenNameIsNull#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/VerifySettingsTaskExtensions.cs
Due: none

Update SDK to 8.0.313
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli/packages.lock.json
  global.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions

Fix crash binding parameters when a built-in option swapped the command
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsGreedyArgument_ToStringArray#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsValuesForEachParsingStrategy#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsArgument#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsArgumentWithNamedArguments#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsInherited#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsNested#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOption#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithAliases#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithNamedArguments#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers/Generators/CommandParametersFactoryGenerator.cs
  XO.Console.Cli.Tests/Commands/HelpCommandTest.cs
  XO.Console.Cli.Tests/Fixtures/TestCommandWithParameters.cs
  XO.Console.Cli.Tests/Model/CommandParserStateTest.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/Implementation/CommandApp.cs
  XO.Console.Cli/Infrastructure/Builtins.cs
  XO.Console.Cli/Model/AbstractCommandParameter.cs
  XO.Console.Cli/Model/CommandArgument.cs
  XO.Console.Cli/Model/CommandOption.cs
  XO.Console.Cli/Model/CommandParserState.cs
Due: XO.Console.Cli

Tweak parser's command lookup, add branch-with-argument test
  XO.Console.Cli.Tests/CommandAppTest.cs
  XO.Console.Cli/Implementation/CommandApp.cs
  XO.Console.Cli/Model/CommandParserState.cs
Due: XO.Console.Cli

Support required options
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsValuesForEachParsingStrategy#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsInherited#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOption#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithAliases#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.DetectsOptionWithIsRequired#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers/Generators/CommandParametersFactoryGenerator.cs
  XO.Console.Cli.Analyzers/Model/CommandOptionModel.cs
  XO.Console.Cli.Tests/CommandAppTest.cs
  XO.Console.Cli.Tests/Fixtures/TestParameters.cs
  XO.Console.Cli/CommandOptionAttribute.cs
  XO.Console.Cli/Implementation/CommandApp.cs
  XO.Console.Cli/Model/CommandOption.cs
  XO.Console.Cli/Model/CommandParserState.cs
  XO.Console.Cli/Model/ICommandOptionAttributeData.cs
Due: XO.Console.Cli

Update Nerdbank.GitVersioning to 3.7.115
  .config/dotnet-tools.json
  Directory.Build.props
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Analyzers/packages.lock.json
  XO.Console.Cli.Benchmarks/packages.lock.json
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli.Instrumentation/packages.lock.json
  XO.Console.Cli.Tests/packages.lock.json
  XO.Console.Cli/packages.lock.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

Update Husky to 0.7.2
  .config/dotnet-tools.json
Due: none

Update test dependencies
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForCommandAttributeWithPrivateConstructor.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForCommandAttributeWithSomeWrongConstructorParameters.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForCommandAttributeWithWrongConstructorParameters.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForDuplicatePath.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForDuplicateVerb.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForMultipleCommandAttributes.verified.txt
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.ReportsDiagnostic_ForWrongCommandBranchAttributeTarget.verified.txt
  XO.Console.Cli.Analyzers.Tests/XO.Console.Cli.Analyzers.Tests.csproj
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
Due: none

Update BenchmarkDotNet to 0.15.1
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Benchmarks/packages.lock.json
Due: none

Update SDK to 9.0.106, remove net6.0 target, add net9.0 target
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/XO.Console.Cli.Analyzers.Tests.csproj
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Benchmarks/Benchmarks.cs
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Benchmarks/packages.lock.json
  XO.Console.Cli.Extensions/XO.Console.Cli.Extensions.csproj
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli.Instrumentation/XO.Console.Cli.Instrumentation.csproj
  XO.Console.Cli.Instrumentation/packages.lock.json
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
  XO.Console.Cli/XO.Console.Cli.csproj
  XO.Console.Cli/packages.lock.json
  global.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

Update Microsoft.Extensions
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Benchmarks/packages.lock.json
  XO.Console.Cli.Extensions/XO.Console.Cli.Extensions.csproj
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli.Instrumentation/packages.lock.json
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
Due: XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

Update PolySharp to 1.15.0, remove from main project
  XO.Console.Cli.Analyzers/XO.Console.Cli.Analyzers.csproj
  XO.Console.Cli.Analyzers/packages.lock.json
  XO.Console.Cli/XO.Console.Cli.csproj
  XO.Console.Cli/packages.lock.json
Due: XO.Console.Cli
