Repository xo-energy/XO.Console.Cli: changes, and which Codecov flags are due for each by the changed paths.
All: XO.Console.Cli, XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

Add build status and coverage badges to README
  README.md
Due: none

Set IsTrimmable=true, add DynamicallyAccessedMembersAttributes
  XO.Console.Cli.Extensions/CommandAppHostBuilderExtensions.cs
  XO.Console.Cli.Extensions/CommandAppServiceCollectionExtensions.cs
  XO.Console.Cli.Extensions/ServiceProviderTypeResolver.cs
  XO.Console.Cli.Extensions/XO.Console.Cli.Extensions.csproj
  XO.Console.Cli.Tests/CommandParametersBinderTest.cs
  XO.Console.Cli/AsyncCommand.cs
  XO.Console.Cli/Command.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/CommandAppBuilderExtensions.cs
  XO.Console.Cli/CommandAppDefaults.cs
  XO.Console.Cli/Commands/DelegateCommand.cs
  XO.Console.Cli/ICommand.cs
  XO.Console.Cli/ICommandAppBuilder.cs
  XO.Console.Cli/ICommandBuilder.cs
  XO.Console.Cli/ICommandBuilderProvider.cs
  XO.Console.Cli/ITypeResolver.cs
  XO.Console.Cli/Internal/CommandApp.cs
  XO.Console.Cli/Internal/CommandBuilder.cs
  XO.Console.Cli/Internal/CommandParametersBinder.cs
  XO.Console.Cli/Internal/CommandParametersInspector.cs
  XO.Console.Cli/Internal/ConfiguredCommand.cs
  XO.Console.Cli/Internal/DefaultTypeResolver.cs
  XO.Console.Cli/XO.Console.Cli.csproj
  version.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions

Add Benchmarks project
  .gitignore
  XO.Console.Cli.Benchmarks/Benchmarks.cs
  XO.Console.Cli.Benchmarks/Commands/GoodbyeCommand.cs
  XO.Console.Cli.Benchmarks/Commands/HelloCommand.cs
  XO.Console.Cli.Benchmarks/Program.cs
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Benchmarks/packages.lock.json
  XO.Console.Cli.sln
Due: none

Refactor namespaces: create 'Model' namespace
  XO.Console.Cli.Benchmarks/Benchmarks.cs
  XO.Console.Cli.Instrumentation/CommandAppInstrumentationMiddleware.cs
  XO.Console.Cli.Instrumentation/CommandAppInstrumentationOptions.cs
  XO.Console.Cli.Tests/CommandAppTest.cs
  XO.Console.Cli.Tests/CommandContextTest.cs
  XO.Console.Cli.Tests/CommandOptionTest.cs
  XO.Console.Cli.Tests/CommandParametersBinderTest.cs
  XO.Console.Cli.Tests/CommandParametersInspectorTest.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/CommandAppExtensions.cs
  XO.Console.Cli/Commands/CliExplainCommand.cs
  XO.Console.Cli/Commands/HelpCommand.cs
  XO.Console.Cli/Exceptions/CommandParsingException.cs
  XO.Console.Cli/ExecutorDelegate.cs
  XO.Console.Cli/ICommandApp.cs
  XO.Console.Cli/ICommandAppMiddleware.cs
  XO.Console.Cli/ICommandContext.cs
  XO.Console.Cli/Internal/Builtins.cs
  XO.Console.Cli/Internal/CommandApp.cs
  XO.Console.Cli/Internal/CommandBuilder.cs
  XO.Console.Cli/Internal/CommandParametersBinder.cs
  XO.Console.Cli/Internal/CommandParametersInspector.cs
  XO.Console.Cli/Internal/MiddlewareAdapter.cs
  XO.Console.Cli/Middleware/ExceptionHandlerMiddleware.cs
  XO.Console.Cli/Model/CommandAppSettings.cs
  XO.Console.Cli/Model/CommandArgument.cs
  XO.Console.Cli/Model/CommandContext.cs
  XO.Console.Cli/Model/CommandOption.cs
  XO.Console.Cli/Model/CommandParameter.cs
  XO.Console.Cli/Model/CommandParametersInfo.cs
  XO.Console.Cli/Model/CommandParseResult.cs
  XO.Console.Cli/Model/CommandParserState.cs
  XO.Console.Cli/Model/CommandToken.cs
  XO.Console.Cli/Model/CommandTokenType.cs
  XO.Console.Cli/Model/ConfiguredCommand.cs
Due: XO.Console.Cli, XO.Console.Cli.Instrumentation

Refactor namespaces: split 'Internal' by functional role
  XO.Console.Cli.Benchmarks/Benchmarks.cs
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Tests/CommandAppTest.cs
  XO.Console.Cli.Tests/CommandBuilderTest.cs
  XO.Console.Cli.Tests/CommandContextTest.cs
  XO.Console.Cli.Tests/CommandOptionTest.cs
  XO.Console.Cli.Tests/CommandParametersBinderTest.cs
  XO.Console.Cli.Tests/CommandParametersInspectorTest.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/Commands/HelpCommand.cs
  XO.Console.Cli/ICommandBuilderProvider.cs
  XO.Console.Cli/Implementation/CommandApp.cs
  XO.Console.Cli/Implementation/CommandBuilder.cs
  XO.Console.Cli/Implementation/DefaultTypeResolver.cs
  XO.Console.Cli/Implementation/DefaultTypeResolverScope.cs
  XO.Console.Cli/Infrastructure/Builtins.cs
  XO.Console.Cli/Infrastructure/CommandParametersBinder.cs
  XO.Console.Cli/Infrastructure/CommandParametersInspector.cs
  XO.Console.Cli/Infrastructure/MiddlewareAdapter.cs
Due: XO.Console.Cli

Update XUnit to 2.5.0, update additional test dependencies
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
Due: none

Refactor CommandBuilder
  XO.Console.Cli.Benchmarks/Benchmarks.cs
  XO.Console.Cli.Benchmarks/Commands/HelloCommand.cs
  XO.Console.Cli.Extensions/CommandAppBuilderOptions.cs
  XO.Console.Cli.Tests/CommandAppTest.cs
  XO.Console.Cli.Tests/CommandOptionTest.cs
  XO.Console.Cli.Tests/CommandParametersInspectorTest.cs
  XO.Console.Cli.Tests/Infrastructure/CommandAppTestBase.cs
  XO.Console.Cli.Tests/ServiceProviderTypeResolverTest.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/CommandBuilder.cs
  XO.Console.Cli/Commands/DelegateCommand.cs
  XO.Console.Cli/ICommandAppBuilder.cs
  XO.Console.Cli/ICommandBuilder.cs
  XO.Console.Cli/ICommandBuilderAddCommand.cs
  XO.Console.Cli/ICommandBuilderProvider.cs
  XO.Console.Cli/Implementation/CommandBuilder.cs
Due: XO.Console.Cli, XO.Console.Cli.Extensions

EditorConfig: add qualification preferences
  .editorconfig
Due: none

Refactor value converters to preserve the strongly-typed delegate
  XO.Console.Cli.Tests/CommandParametersBinderTest.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/CommandAppDefaults.cs
  XO.Console.Cli/ICommandAppBuilder.cs
  XO.Console.Cli/Infrastructure/CommandParametersBinder.cs
  XO.Console.Cli/Infrastructure/ParameterValueConverter.cs
  XO.Console.Cli/Model/CommandAppSettings.cs
Due: XO.Console.Cli

Change global options to always be string-valued
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/ICommandAppBuilder.cs
Due: XO.Console.Cli

Don't consume the source generator in the library itself
  XO.Console.Cli/Implementation/BuiltinCommandParametersFactory.cs
  XO.Console.Cli/Infrastructure/TypeRegistry.cs
  XO.Console.Cli/XO.Console.Cli.csproj
Due: XO.Console.Cli

Add commands declaratively using CommandAttribute
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers/Definitions.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
  XO.Console.Cli.Analyzers/Generators/CommandParametersFactoryGenerator.cs
  XO.Console.Cli/CommandAppBuilder.cs
  XO.Console.Cli/CommandAttribute.cs
  XO.Console.Cli/Infrastructure/ICommandBuilderFactory.cs
  XO.Console.Cli/Infrastructure/TypeRegistry.cs
Due: XO.Console.Cli

Add sub-commands declaratively using custom attributes
  .gitignore
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttribute#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttributeOptions#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers/AnalyzerReleases.Unshipped.md
  XO.Console.Cli.Analyzers/DiagnosticDescriptors.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
  XO.Console.Cli.Analyzers/HashCode.cs
  XO.Console.Cli.Analyzers/ImmutableArrayEqualityComparer.cs
  XO.Console.Cli.Analyzers/Model/CommandAttributeData.cs
  XO.Console.Cli.Analyzers/Model/CommandBranch.cs
  XO.Console.Cli.Analyzers/Model/CommandDeclaration.cs
  XO.Console.Cli.Analyzers/Model/CommandModel.cs
  XO.Console.Cli.Benchmarks/Commands/GoodbyeCommand.cs
  XO.Console.Cli.Benchmarks/Commands/HelloCommand.cs
  XO.Console.Cli.Tests/Fixtures/TestCommands.cs
  XO.Console.Cli.Tests/ServiceProviderTypeResolverTest.cs
  XO.Console.Cli/CommandAttribute.cs
  XO.Console.Cli/CommandBranchAttribute.cs
  XO.Console.Cli/ICommandBuilderAddCommand.cs
Due: XO.Console.Cli

Optimize parameters source generator
  XO.Console.Cli.Analyzers/Definitions.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
  XO.Console.Cli.Analyzers/Generators/CommandParametersFactoryGenerator.cs
  XO.Console.Cli.Analyzers/Model/CommandOptionModel.cs
  XO.Console.Cli.Analyzers/Model/ParametersTypeModel.cs
  XO.Console.Cli/CommandArgumentAttribute.cs
  XO.Console.Cli/CommandOptionAttribute.cs
  XO.Console.Cli/Model/ICommandArgumentAttributeData.cs
  XO.Console.Cli/Model/ICommandOptionAttributeData.cs
Due: XO.Console.Cli

Don't pack Benchmarks
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
Due: none

Fix nested branch generation logic (a queue is not a stack)
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.GeneratesFactoryForCommandDeclaration_WithBranchAttributeNested#CommandBuilderFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers/Generators/CommandBuilderFactoryGenerator.cs
Due: none

build: bump XO.Console.Cli version on changes to Analyzers
  XO.Console.Cli/version.json
Due: XO.Console.Cli

build: accurately version XO.Console.Cli.Analyzers assembly
  XO.Console.Cli.Analyzers/version.json
Due: none

Extensions: fix failure to await DisposeAsync() before flushing logs
  XO.Console.Cli.Extensions/CommandAppHostBuilderExtensions.cs
Due: XO.Console.Cli.Extensions

Run dotnet format
  XO.Console.Cli.Tests/CommandAppTest.cs
  XO.Console.Cli.Tests/CommandContextTest.cs
  XO.Console.Cli.Tests/CommandOptionTest.cs
  XO.Console.Cli.Tests/CommandParametersBinderTest.cs
  XO.Console.Cli.Tests/CommandParametersInspectorTest.cs
  XO.Console.Cli.Tests/Commands/HelpCommandTest.cs
  XO.Console.Cli.Tests/Fixtures/TestCommands.cs
  XO.Console.Cli.Tests/Infrastructure/CommandAppTestBase.cs
  XO.Console.Cli.Tests/Infrastructure/ExplicitTypeResolver.cs
  XO.Console.Cli.Tests/Infrastructure/TestConsole.cs
  XO.Console.Cli.Tests/ServiceProviderTypeResolverTest.cs
Due: none

Install Husky.Net
  .config/dotnet-tools.json
  .husky/pre-commit
  .husky/task-runner.json
Due: none

Update GitHubActionsTestLogger to 2.3.3
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
Due: none

Update to SDK 8.0
  Directory.Build.props
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli.Instrumentation/packages.lock.json
  XO.Console.Cli.Tests/packages.lock.json
  XO.Console.Cli/packages.lock.json
  global.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

Update Microsoft.Extensions.Hosting to 8.0.0
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
Due: none

Add net8.0 targets
  XO.Console.Cli.Extensions/XO.Console.Cli.Extensions.csproj
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli.Instrumentation/XO.Console.Cli.Instrumentation.csproj
  XO.Console.Cli.Instrumentation/packages.lock.json
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
  XO.Console.Cli/XO.Console.Cli.csproj
  XO.Console.Cli/packages.lock.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

Update OpenTelemetry to 1.8.1
  XO.Console.Cli.Instrumentation/XO.Console.Cli.Instrumentation.csproj
  XO.Console.Cli.Instrumentation/packages.lock.json
  XO.Console.Cli.Tests/CommandAppInstrumentationTest.cs
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
Due: XO.Console.Cli.Instrumentation

Remove OpenTelemetry.SemanticConventions
  XO.Console.Cli.Instrumentation/CommandAppInstrumentationMiddleware.cs
  XO.Console.Cli.Instrumentation/XO.Console.Cli.Instrumentation.csproj
  XO.Console.Cli.Instrumentation/packages.lock.json
  XO.Console.Cli.Tests/packages.lock.json
Due: XO.Console.Cli.Instrumentation

Update test SDK, xunit to 2.8.0, coverlet to 6.0.2
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
Due: none

build: update actions
  .github/workflows/ci.yml
Due: none

Add net8.0 targets for Benchmarks and Analyzers.Tests, fix reference
  XO.Console.Cli.Analyzers.Tests/XO.Console.Cli.Analyzers.Tests.csproj
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Benchmarks/Benchmarks.cs
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Benchmarks/packages.lock.json
  XO.Console.Cli/XO.Console.Cli.csproj
Due: XO.Console.Cli

Catch up dependencies in new projects
  XO.Console.Cli.Analyzers.Tests/XO.Console.Cli.Analyzers.Tests.csproj
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Analyzers/XO.Console.Cli.Analyzers.csproj
  XO.Console.Cli.Analyzers/packages.lock.json
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Benchmarks/packages.lock.json
Due: none

Update BenchmarkDotNet to 0.13.12
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Benchmarks/packages.lock.json
Due: none

Update Verify to 24.2.0
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/XO.Console.Cli.Analyzers.Tests.csproj
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
Due: none

Update Microsoft.CodeAnalysis.CSharp to 4.9.2
  XO.Console.Cli.Analyzers.Tests/XO.Console.Cli.Analyzers.Tests.csproj
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Analyzers/XO.Console.Cli.Analyzers.csproj
  XO.Console.Cli.Analyzers/packages.lock.json
Due: none

Work toward completing test suite
  XO.Console.Cli.Analyzers.Tests/CompilationHelper.cs
  XO.Console.Cli.Analyzers.Tests/DiagnosticsTest.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/Model/CommandParameterModelTest.cs
  XO.Console.Cli.Analyzers.Tests/Model/ParametersTypeModelTest.cs
  XO.Console.Cli.Analyzers/DiagnosticDescriptors.cs
  XO.Console.Cli.Analyzers/Model/CommandArgumentModel.cs
  XO.Console.Cli.Analyzers/Model/CommandOptionModel.cs
  XO.Console.Cli.Analyzers/Model/CommandParameterModel.cs
  XO.Console.Cli.Analyzers/Model/ParametersTypeModel.cs
Due: none

Remove PackageSourceMapping; it conflicts with nativeAOT benchmarks
  XO.Console.Cli.sln
  nuget.config
Due: none

Tweak benchmarks
  XO.Console.Cli.Benchmarks/Benchmarks.cs
  XO.Console.Cli.Benchmarks/Program.cs
Due: none

Update packages.lock.json vs SDK 8.0.300
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli/packages.lock.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions

Path conditions:
  XO.Console.Cli: any of: XO.Console.Cli/
  XO.Console.Cli.Extensions: any of: XO.Console.Cli.Extensions/
  XO.Console.Cli.Instrumentation: any of: XO.Console.Cli.Instrumentation/
