Repository xo-energy/XO.Console.Cli: changes, and which Codecov flags are due for each by the changed paths.
All: XO.Console.Cli, XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

Update Microsoft.CodeAnalysis.CSharp to 4.12.0
  XO.Console.Cli.Analyzers.Tests/XO.Console.Cli.Analyzers.Tests.csproj
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Analyzers/XO.Console.Cli.Analyzers.csproj
  XO.Console.Cli.Analyzers/packages.lock.json
Due: none

Set UseArtifactsOutput=true
  .gitignore
  Directory.Build.props
  XO.Console.Cli/XO.Console.Cli.csproj
Due: XO.Console.Cli

Set version to '5.1'
  version.json
Due: none

Set version to '5.2-alpha'
  version.json
Due: none

Downgrade Microsoft.CodeAnalysis.CSharp to 4.9.2
  XO.Console.Cli.Analyzers.Tests/XO.Console.Cli.Analyzers.Tests.csproj
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Analyzers/XO.Console.Cli.Analyzers.csproj
  XO.Console.Cli.Analyzers/packages.lock.json
Due: none

Fix parameter type detection for Nullable<T>
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.AssignsValuesForNullableValueTypes#CommandParametersFactory.g.verified.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers/Model/CommandParameterModel.cs
Due: none

gitignore: .claude/settings.local.json
  .gitignore
Due: none

Set version to '6.0-alpha'
  version.json
Due: none

Update .NET SDK to 10.0.202
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli/packages.lock.json
  global.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions

Add net10.0 target
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/XO.Console.Cli.Analyzers.Tests.csproj
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Benchmarks/Benchmarks.cs
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Benchmarks/packages.lock.json
  XO.Console.Cli.Extensions/XO.Console.Cli.Extensions.csproj
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli.Instrumentation/XO.Console.Cli.Instrumentation.csproj
  XO.Console.Cli.Instrumentation/packages.lock.json
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
  XO.Console.Cli/XO.Console.Cli.csproj
  XO.Console.Cli/packages.lock.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

Update husky to 0.9.1
  .config/dotnet-tools.json
Due: none

Update Nerdbank.GitVersioning to 3.9.50
  .config/dotnet-tools.json
  Directory.Build.props
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Analyzers/packages.lock.json
  XO.Console.Cli.Benchmarks/packages.lock.json
  XO.Console.Cli.Extensions/packages.lock.json
  XO.Console.Cli.Instrumentation/packages.lock.json
  XO.Console.Cli.Tests/packages.lock.json
  XO.Console.Cli/packages.lock.json
Due: XO.Console.Cli, XO.Console.Cli.Extensions, XO.Console.Cli.Instrumentation

Update BenchmarkDotNet to 0.15.8
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Benchmarks/packages.lock.json
Due: none

Update Microsoft.Extensions.Hosting to 10.0.7
  XO.Console.Cli.Benchmarks/XO.Console.Cli.Benchmarks.csproj
  XO.Console.Cli.Benchmarks/packages.lock.json
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
Due: none

Update OpenTelemetry to 1.15.3
  XO.Console.Cli.Instrumentation/CommandAppInstrumentationMiddleware.cs
  XO.Console.Cli.Instrumentation/XO.Console.Cli.Instrumentation.csproj
  XO.Console.Cli.Instrumentation/packages.lock.json
  XO.Console.Cli.Tests/CommandAppInstrumentationTest.cs
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
Due: XO.Console.Cli.Instrumentation

Update to xUnit V3, Microsoft Testing Platform
  .github/workflows/ci.yml
  XO.Console.Cli.Analyzers.Tests/Analyzers/CommandAttributeTargetAnalyzerTest.cs
  XO.Console.Cli.Analyzers.Tests/Generators/AssemblyCommandAppDefaultsGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandBuilderFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/Generators/CommandParametersFactoryGeneratorTest.cs
  XO.Console.Cli.Analyzers.Tests/XO.Console.Cli.Analyzers.Tests.csproj
  XO.Console.Cli.Analyzers.Tests/packages.lock.json
  XO.Console.Cli.Tests/CommandAppTest.cs
  XO.Console.Cli.Tests/Commands/HelpCommandTest.cs
  XO.Console.Cli.Tests/XO.Console.Cli.Tests.csproj
  XO.Console.Cli.Tests/packages.lock.json
  global.json
Due: none

build: update action versions
  .github/workflows/ci.yml
Due: none

Add OpenStandard* methods to IConsole abstraction
  XO.Console.Cli.Benchmarks/Benchmarks.cs
  XO.Console.Cli.Tests/Commands/HelpCommandTest.cs
  XO.Console.Cli.Tests/Infrastructure/TestConsole.cs
  XO.Console.Cli/Features/SystemConsole.cs
  XO.Console.Cli/IConsole.cs
Due: XO.Console.Cli

build: drop codecov-action, it doesn't work
  .github/workflows/ci.yml
Due: none

Set version to '6.0'
  version.json
Due: none

Path conditions:
  XO.Console.Cli: any of: XO.Console.Cli/
  XO.Console.Cli.Extensions: any of: XO.Console.Cli.Extensions/
  XO.Console.Cli.Instrumentation: any of: XO.Console.Cli.Instrumentation/
